{% load i18n %}

    {% comment %}
    <option {% if gamename_nav == "numra_ordinal" %} selected{% endif %}value="{% url 'numra.ord' %}">{% trans 'Ordinals' %}</option>
    {% endcomment %}

<li id="pos_menu">
	<label>Part of Speech</label>
	<select class="exclude_form_update">
	    <option {% if numra_gametype == "numra_cardinal" %} selected {% endif %}value="{% url 'numra' %}">{% trans 'Cardinals' %}</option>
	    <option {% if numra_gametype == 'clock' %} selected {% endif %}value="{% url 'numra.klokka' %}">{% trans 'Time' %}</option>
	    <option {% if numra_gametype == 'dato' %} selected {% endif %}value="{% url 'numra.dato' %}">{% trans 'Date' %}</option>
	    <option {% if numra_gametype == 'money' %} selected {% endif %}value="{% url 'numra.money' %}">{% trans 'Money' %}</option>

	</select>
</li>
