[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.2"
djangorestframework = "*"
markdown = "*"
pexpect = "*"
schematics = "*"
kitchen = "*"
uwsgi = "*"

[dev-packages]
black = "*"
mypy = "*"
django-stubs = "~=5.2"

[requires]
python_version = "3.12"
