[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=5.2"
djangorestframework = "*"
markdown = "*"
pexpect = "*"
schematics = "*"
uwsgi = "*"
docutils = "*"
pyyaml = "*"
hfst = "*"

[dev-packages]
black = "*"
mypy = "*"
django-stubs = "~=5.2"

[scripts]
# format
format = "black crk_oahpa_project"

[requires]
python_version = "3.12"
